*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color:black;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{

    background-color: black;

    text-align: left;

    
    /*position: sticky;*/
    top:0px
}

h1{

    display: inline-block;
    
}
.logo{
   display: inline-block;
    font-size: 40px;

    margin-top: 2px;
    
    color: red;
    opacity: 0.7;
}


ul{
    
    display: flex;

    flex-direction: row;
    
    justify-content: flex-start;

    padding: 20px;

    
}


li{
    margin-left: 50px;
    
    list-style: none;

    color: red;
    opacity: 0.8;

    word-wrap: none;

}

#carousel img{
    width: 80vw;
    height: 500px;

}



footer{

    
    background-color: black;
}


.redes{

    color: rgb(241, 14, 14);
    font-size: 50px;

}


.red2{

    display: flex;

    justify-content: space-around;
    
    

    padding: 70px;
}

.mapa{
    text-align: center;
    

}

h2{

    color:white;
    text-align: center;

    
}



.contenedorRedes{

    display: flex;

 

    
    justify-content: center;


    justify-content: space-around;
}


.redes{
    transition-duration:1000ms ;
    transition-timing-function: ease-in-out;
    opacity: 0.4;

}


.redes:hover{

    transform: scale(1.3) rotate(720deg);
    transition-duration: 1000ms;
    opacity: 0.7;
    transition-timing-function: ease-in-out;


}




.contenedor-info{


    display: flex;
}

.contenedor-texto-imagen{

    display: flex;
}




@media screen and (max-width:568px){

    .foto{
        width: 80%;

        height: 30%;
    }

    ul{
        display: inline-block
    }

}


label{


    color: white;

    font-size: 30px;
}



.muestra img{

transition-duration: 2000ms;

}


.muestra:hover img{

    transform:  scale(1.2);
    transition-duration: 1000ms;
}


a{

    color:inherit;
}